/* remove center align from manager portal */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  margin-bottom: 40px;
  padding-bottom: 180px;

}
#root{
  min-height: 860px;
}
.footer{
  width: 100%;
  margin-top: 60px;
  position: absolute;
  bottom: 0;

}
.picker__date-display{
  background-color:  #2196F3;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #2196F3;
}