/* html{
    background-image: linear-gradient(to bottom, #cbcdcf, #959597);
} */
html {
    position: relative;
    min-height: 100%;
    background-color: #f6f8fa; }
  
   body {
    
     min-height: 100%;
    margin-bottom: 40px; }
    .App{
      min-height: 100%;
    } 
    
  
   #root {
    min-height: 860px; } 
  
  .footer {
    width: 100%;
    margin-top: 60px;
    position: absolute;
    bottom: 0; }
  