/* html{
    background-image: linear-gradient(to bottom, #cbcdcf, #959597);
} */
 /* html {
    position: relative;
    min-height: 100%;
    background-color: #f6f8fa; } 
  
   bodyFooter {
    
     min-height: 860px;
    margin-bottom: 40px; }
   
     */
  
     .material-icons{
        color: #2196F3
      
    }
  
   .portalFooter {
    width: 100%;
    margin-top: 60px;
    position: absolute;
     bottom: 0; }  
 