.error { border: 2px solid red; 
    border-bottom-color: red;
    box-shadow: red;
    background-image: url(https://vignette.wikia.nocookie.net/phobia/images/5/5a/Red.jpg/revision/latest?cb=20161109225243);
    
    

  
    

}
/* .rounded{
    border: none;
} */

