/* .error {
     color: red;
    display: show;
    box-shadow: 2px;
    box-shadow:red;
    outline: 2px;
    outline-color: red;
 /* background-color: red; */
 

/* .emailValidate{
    margin-left: 200px;
} */