#employeeSave{
    margin-left: 5px;
}

.picker__date-display{
    background-color:  #2196F3;
  }
  .picker__weekday-display{
      background-color:  rgb(120, 189, 245);
  }
  .btn-flat{
   color:  #2196F3;
  }
  .material-icons:active{
    color:  #2196F3;
  }
  .material-icons:selection{
    color:  #2196F3;
  }
  .active{
    color:  #2196F3;
  }
  .input-field:active{
    color:  #2196F3;
  }
  .prefix:active{
    color:  #2196F3;
  }
  .border-bottom:focus{
    color:  #2196F3;
  }