#index-banner{
    height: 250px;
    width: 100%;
    top: 30%;
   
    position: absolute;

}

.special{
position: absolute;
top: 165%;     
left: 50%;
transform: translate(-50%, -50%);
 }

.appoint{
    height: 33%;
}
@media screen and (max-width: 603px){
    .special{
        position: absolute;
        top: 205%;     
        left: 50%;
        transform: translate(-50%, -50%);
         }
}
