#index-banner{
    height: 250px;
    width: 100%;
    top: 30%;
   
    position: absolute;

}

.special{
position: absolute;
top: 200%;     
left: 25%;
        right: 25%

 }

.appoint{
    height: 33%;
}
.makeAppoint{
  margin-top: 20px;
}
@media screen and (max-width: 993px){
    .makeAppoint{
        margin-bottom: 80px;
        margin-top: 0px;
    }
    .special{
        position: absolute;
        top: 250%;     
        left: 25%;
        right: 25%
        
         }
}

@media screen and (max-width: 603px){
    .special{
        position: absolute;
        top: 290%;     
        left: 25%;
        right: 25%
        
         }
}

