.manager{
    min-height: 500px;
    border-radius: 5px; 
}
.managerTabs{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 1%
}
.tabs .indicator {
    background-color: rgb(33, 150, 243)
 }