.manager{
    min-height: 500px;
    border-radius: 5px; 
}
.managerTabs{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 1%
}
.card-panel{
    border-radius: 5px; 
   
}
.tabs .indicator {
    background-color: rgb(33, 150, 243)
 }
 .collection-header, .collection {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }
 .collection-item, .collection{
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }
 
 @media screen and (min-width:630px){
 .with-header{
margin-left: 5px;
 }
}
.radiobg{
    z-index:-1;
   
}
